.Container {
    grid-area: main;
    width: 100%;
    background-image: url("../../../assets/images/background/blured-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.SideBar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    height: calc(100% - 3rem);
    background: white;
    display: none;
    padding: 1rem;
}

.Link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.Description {
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    text-align: left;
}

.MainTitle {
    width: 15rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background: #333c8b;
}

.Section {
    margin: 2rem auto;
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 4px #ccc;
    background: white;
}

.Text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
}

.Image {
    display: block;
    width: 90%;
    margin: 1rem auto;
}

@media (min-width: 43.75rem) {
    .SideBar {
        display: block;
    }

    .Description {
        width: 70%;
        margin: 1rem auto 1rem 0;
    }

    .Image {
        width: 27.5627rem;
    }
}

@media (min-width: 65.625rem) {
    .SideBar {
        width: 20%;
    }

    .Description {
        width: 80%;
    }

    .Section {
        width: 41.34375rem;
    }
}
