.Modal {
    position: fixed;
    bottom: calc(50%);
    left: calc(50% - 8rem);
    width: 16rem;
    height: auto;
    background-color: white;
    z-index: 50;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    transform: translateX(-100%);
}

.Open {
    transform: translateX(0);
}
