.Modal {
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 8rem);
    width: 16rem;
    height: auto;
    background-color: white;
    z-index: 50;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    transform: translateX(-400%);
    transition: transform 0.4s linear;
}

.Open {
    transform: translateX(0);
}

@media screen and (min-width: 26.5625rem){
    .Modal {
        bottom: 3rem;
    }
}

@media screen and (min-width: 40rem){
    .Modal {
        bottom: 7rem;
    }
}

@media screen and (min-width: 48rem){
    .Modal {
        bottom: 13rem;
    }
}
