.SideDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: white;
    z-index: 60;
    transition: all 0.2s linear;
}

.Logo {
    text-align: center;
}

.NavLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Close {
    transform: translateX(-100%);
}
