.ChainName {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.ChainColors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem auto 0.4rem;
}

.ChainColor {
    width: 2rem;
    height: 2rem;
    border: 2px solid transparent;
    margin: 0 0.3rem;
}

.ActiveColor {
    border: 2px solid black;
    border-radius: 5px;
}

.AddChainSubmitButton {
    outline: none;
    width: 6rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
}

.DeleteButton {
    outline: none;
    width: 6rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-align: center;
    background-color: #da6464;
    color: black;
}
