.Header {
    position: fixed;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.Links {
    display: none;
}

.LogoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LogoContainer div {
    margin: 0 0.5rem;
}

.LogoMainContainer {
    height: 3rem;
    width: 3.2rem;
}

.LogoLink {
    display: block;
    height: 100%;
}

.Logo {
    height: 100%;
    width: 100%;
}

.ToggleButton {
    width: 2rem;
    cursor: pointer;
    border: none;
    background: none;
}

@media (min-width: 26rem) {
    .ToggleButton {
        display: none;
    }

    .Links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
