.Container {
    width: 100%;
    grid-area: main;
    text-align: center;
    background-image: url("../../../assets/images/background/blured-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.25rem auto;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    width: 18rem;
    background: #ba71c9;
}

.Title::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1.25rem;
    left: 1rem;
    border-top: 20px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.Title::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1.25rem;
    right: 1rem;
    border-top: 20px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.FaceContainer {
    width: 7rem;
    height: 7rem;
    margin: 1rem auto;
}

.Face {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.Paragraphs {
    width: 90%;
    margin: 1rem auto;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    background: #7fcfe7;
}

.Paragraph {
    text-align: left;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

@media (min-width: 43.75rem) {
    .Paragraphs {
        width: 80%;
    }
}

@media (min-width: 65.625rem) {
    .Paragraphs {
        width: 45.9375rem;
    }
}
