.SideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.Hide {
    display: none;
}
