.Container {
    width: 100%;
    grid-area: main;
    text-align: center;
}

.Contacts {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px dashed black;
    border-radius: 7px;
    margin: 0 auto;
    background: #afaff1;
}

@media (min-width: 65.625rem) {
    .Contacts {
        width: 52.5rem;
    }
}
