.Container {
    position: relative;
    height: 100%;
    padding: 1rem 0;
    background-image: url("../../../assets/images/background/blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ChainBackground {
    background-image: url("../../../assets/images/background/chain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    padding: 1rem 0;
}

.DatesChainsContainer {
    display: grid;
    grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] auto [row-2-end];
    grid-template-columns: [column-1-start] 7rem [column-1-end column-2-start] auto [column-2-end];
    grid-template-areas:
        "logo title"
        "dates chain";
}

.LogoContainer {
    grid-area: logo;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.Logo {
    width: 80%;
    height: 100%;
}

.Dates {
    grid-area: dates;
}

.Title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SelectedChain {
    grid-area: chain;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ShowMore {
    outline: none;
    display: block;
    background: black;
    color: white;
    width: 80%;
    height: 3rem;
    margin: 1rem auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 7px;
}

.Description {
    width: 80%;
    border: 3px solid black;
    border-radius: 7px;
    margin: 0rem auto 3rem;
    padding: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    background: white;
}

.ChainCartoonContainer {
    margin: 2rem auto;
    width: 60%;
    height: 6rem;
}

.ChainCartoon {
    width: 100%;
    height: 100%;
    display: block;
}

.SelectChain {
    position: relative;
    bottom: 1rem;
    display: flex;
    margin: 2rem auto;
    border-radius: 40px 0 0 40px;
    width: 95%;
    height: 7rem;
    background: white;
    box-shadow: 0 6px 4px #ccc;
}

.SelectChainSelected {
    position: sticky;
}

.Chains {
    width: 85%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    border: 1px solid black;
    border-right: 1px dashed black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.SelectButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border: 1px solid black;
    border-left: none;
    background-color: white;
}

.SelectButton {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99ee7f;
}

.PlusSign {
    display: block;
    width: 2rem;
    height: 2rem;
}

@media (min-width: 43.75rem) {
    .PlusSign {
        line-height: 8rem;
    }

    .SelectChain {
        height: 8rem;
    }
}

@media (min-width: 65.625rem) {
    .DatesChainsContainer {
        width: 65.625rem;
        margin: 0 auto;
    }
}
