.Container {
    position: relative;
    height: 100%;
}

.DatesChainsContainer {
    display: grid;
    grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] auto [row-2-end];
    grid-template-columns: [column-1-start] 7rem [column-1-end column-2-start] auto [column-2-end];
    grid-template-areas:
        "logo title"
        "dates chain";
}

.LogoContainer {
    grid-area: logo;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.Logo {
    width: 80%;
    height: 100%;
}

.Dates {
    grid-area: dates;
}

.Title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SelectedChain {
    grid-area: chain;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Description {
    width: 80%;
    height: 23rem;
    border: 3px solid black;
    border-radius: 7px;
    margin: 2rem auto 5rem;
    padding: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

.ChainCartoonContainer {
    margin: 4rem auto;
    width: 60%;
    height: 8rem;
}

.ChainCartoon {
    width: 100%;
    height: 100%;
    display: block;
}

.SelectChain {
    position: relative;
    bottom: 2rem;
    display: flex;
    margin: 2rem auto;
    border-radius: 40px 0 0 40px;
    width: 95%;
    height: 7rem;
    background: white;
    box-shadow: 3px 6px 4px #ccc;
}

.IsSelectedSelectChain {
    position: sticky;
}

.Chains {
    width: 85%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    border: 1px solid black;
    border-right: 1px dashed black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.SelectButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border: 1px solid black;
    border-left: none;
    background-color: white;
}

.SelectButton {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.PlusSign {
    font-size: 1.5rem;
    display: block;
    font-size: 3rem;
    text-align: center;
    line-height: 7rem;
}
