.Ingredient {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0.5rem auto;
}

.Start {
    height: 5.5rem;
    border-radius: 50% 50% 0 0;
    border-bottom: none;
    margin-bottom: 0;
}

.End {
    height: 5.5rem;
    border-radius: 0 0 50% 50%;
    border-top: none;
    margin-top: 0;
}

.None {
    border-top: 4px solid #3f3b3b;
}

.StartEnd {
    border: 1px solid #000;
}

.Between {
    height: 6rem;
    border-radius: 0;
    border-bottom: none;
    border-top: none;
    margin: 0 auto;
}
